/*
  ****************************************
  LAYOUT
  ****************************************
 */
.submission {
	font-size:larger;
}
.subsection {
	margin-bottom:20px;
	margin-left:20px;
}
.pair_div {
	width:75%;
	display:table;
	border:1px solid silver;
	padding:5px;
	margin:2px 0;
}
.alert-box {
	width:50%;
	margin:20px auto;
	padding:5px;
	border-radius: 4px;
	border: 1px solid gray;
}
.highlight{
	background-color:#F8F8F8;
	border:1px solid #E7E7E7;
	border-radius:4px;
	margin-bottom:14px;
	padding:9px 14px;
}
/*
  ****************************************
  ORBEON XFORM SPECIFIC STYLE
  ****************************************
 */
.orbeon .xforms-control {
	margin-bottom: 10px;
}
.orbeon .xforms-label {
	font-weight: bold;
	display: inline-block;
	min-width: 12em
}
.orbeon .xforms-select1-appearance-full .xforms-label {
	vertical-align: top
}
.orbeon .xforms-input input[type=text], .orbeon .xforms-textarea textarea, .orbeon .xforms-select1 select {
	width: 20em;
	margin-bottom: 2px;
}
.orbeon .checkbox input {
	width: 5em;
	margin-bottom: 2px;
}
.orbeon .xforms-repeat-selected-item-1 .form-td {
	background-color: #f5f5f5
}
.orbeon .xforms-items {
	display: inline-block
}
.trigger_container {
	margin-bottom:20px;
}
.xforms-trigger-appearance-minimal img {
	vertical-align: middle
}
.xforms-output {
	margin:0;
}
.xforms-output-output {
	padding:0;
	line-height:inherit;
	display:inline;
	font-size:inherit;
	color:black
}
.xforms-trigger {
	text-decoration:none;
}
.xforms-repeat-selected-item-1, .xforms-repeat-selected-item-2, .xforms-repeat-selected-item-3, .xforms-repeat-selected-item-4 {
	background:inherit;
}
.xforms-repeat-selected-item-2 {
	background:none;
}
.xxforms-dialog-body>a, .xxforms-dialog-body>span {
	width:100px;
}
.xbl-component {
	margin:5px 0;
}
h1, h2, h3, h4, h5, h6 {
	display:inline;
}
/*
  ****************************************
  PAGINATION
  ****************************************
 */
.paging_div {
	width:100%;
	display:table;
	padding-top:10px;
	padding-bottom:10px;
}
.pagingBtn, .pagingSep {
	padding:2px;
	text-decoration:none;
}
.pagingBtn {
	font-weight:bold;
}
.pagingBtn:hover {
	background-color:#DDDDDD;
	text-decoration:underline;
}