/*CSS for the membership banner addon*/
@font-face {
    font-family: 'MinionPro-MediumIt';
    src: url("http://numismatics.org/themes/ocre/css/MinionPro-MediumIt.otf") format("opentype");
}
#membership-banner {
    color:white;
    padding:5px 0;
    font-family: 'MinionPro-MediumIt', times, serif;
}
#membership-banner a{
    color:white;
}