/*Numishare styling: https://github.com/ewg118/numishare*/
/*
  ***************************************
  GLOBAL
  ***************************************
 */
html{
    background-color: #425b66;
}
body{
    font-family: 'Raleway', Arial, sans-serif;
}
h1{
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    color: #425b66;
}
h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    color: #425b66;
}
h3{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: #425b66;
}
h4{
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
    color: #425b66;
    text-transform: uppercase;
}
a{
    color: #425b66;
    text-decoration: underline;
}
a:hover{
    color: black;
}
a:active{
    color: #b5c8d1
}
.jumbotron{
    background-color: #425b66;
}
.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4 {
    color: white;
}
.banner{
    border-bottom: 2px solid #b5c8d1;
    color: white;
    background-image: url("../images/jumbotron.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
.banner-background{
    margin: 20px 0;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 20px 0;
    background-color: rgba(66, 91, 102, 0.5);
}
.banner-background img{
    max-height: 250px;

}
.banner-background h1{
    font-size: 72px;
}
.banner-background h1,
.banner-background h2,
.banner-background h3,
.banner-background h4{
    margin-top: 0;
    color: white;
}

.navbar{
    margin-bottom: 0;
    border-bottom: 2px solid #b5c8d1;
}
.navbar a{
    text-decoration: none;
}
a > img{
    border: none;
}
ul li{
    list-style-type: none;
}
.highlight{
    background-color: #e3ecef;
    border: 1px solid #b5c8d1;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}
.rtl{
    direction: rtl;
}
dl.dl-rtl dt{
    float: right;
    text-align: left;
}
dl.dl-rtl dd{
    margin-right: 180px;
    margin-left: 0;
}
.alert-box{
    width: 50%;
    margin: 20px auto;
}
#feedback-frame{
    width: 100%;
    border: none;
    height: 600px;
}
/*Custom navbar*/
.navbar-default .navbar-brand{
    color: rgba(66, 91, 102, 1);
}
.navbar-default{
    font-size: 14px;
    background-color: rgba(227, 236, 239, 1);
    border-width: 1px;
    border-radius: 4px;
}
.navbar-default .navbar-nav > li > a{
    color: rgba(66, 91, 102, 1);
    background-color: rgba(227, 236, 239, 1);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: rgba(0, 0, 0, 1);
    background-color: rgba(227, 236, 239, 1);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: rgba(181, 200, 209, 1);
    background-color: rgba(227, 236, 239, 1);
}
.navbar-default .navbar-toggle{
    border-color: #e3ecef;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: #e3ecef;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #e3ecef;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #e3ecef;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#footer{
    background-color: #425b66;
    color: white;
    border-top: 2px solid #b5c8d1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#footer a{
    color: white;
    text-decoration: underline;
}
#footer a:hover{
    color: #efefef;
}
/*
  ***************************************
  DISPLAY CONTENT
  ***************************************
 */
.hidden {
    display: none;
}
.thumbnail_container {
    margin-top: 25px;
}
.display_thumb {
    width: 80px;
    padding: 2px;
    cursor: pointer;
}
.metadata_section {
    margin-bottom: 20px;
}
.submenu {
    width: 100%;
    vertical-align: bottom;
    display: table;
    text-align: right;
    margin-top: 3px;
}
.icons {
    margin: 5px 0;
}
.reference_image {
    margin-bottom: 20px;
    text-align: center;
}
.reference_image img {
    max-width: 100%;
}
.external_link {
    margin: 0 5px;
}
.legend-icon {
    width: 40px;
}
.calculate {
    display: none;
    margin-top: 20px;
}
.iiif-window {
    width: 100%;
    height: 100%;
}
.image-container {
    margin-bottom: 20px;
}
.image-container img {
    max-width: 100%;
}
.iiif-container {
    width: 100%;
    padding-top: 100%;
    background-color: white;
}
.iiif-zoom-glyph {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 120%
}
.model-window {
    width: 640px;
    height: 480px;
}
.obj-container {
    z-index: 1;
    /*cursor:pointer;*/
    color: #c94f2a;
}
a.fancybox {
    height: 100%;
    width: 100%;
    display: block;
}
/*Die Study pages*/
.die-image {
    height: 325px;
}
.die-image img {
    max-width: 100%;
    max-height: 300px;
}
.die-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
  ***************************************
  SEARCH/COMPARE/VISUALIZATION FORMS
  ***************************************
 */
.compare_image {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px dashed #696969;
}
.option_container {
    width: 200px;
    vertical-align: bottom;
}
.option_container select,
.option_container input {
    display: inline;
}
.compare-select {
    width: 400px;
}
.category_list,
.sparql_facets,
select[name = "interval"],
#stacking,
#image,
.certainty-select {
    width: 175px;
    display: inline;
}
.sortForm_categories,
.sortForm_order {
    width: 175px;
    margin-left: 0px;
    margin-right: 10px;
    display: inline;
}
.form-group label {
    width: 175px;
}
.text-search {
    width: 400px;
    margin-right: 5px;
    display: inline;
}
.technical-input {
    width: 80px;
    margin-right:5px;
    display:inline;
}
.search_text {
    width: 200px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline;
}
.from_date,
.to_date,
#from_date,
#to_date {
    width: 100px;
    margin-left: 0px;
    margin-right: 5px;
    display: inline;
}
#ah_fromDate,
#ah_toDate {
    width: 100px;
    margin-left: 0px;
    margin-right: 5px;
    display: inline;
}
.from_era,
.to_era,
#from_era,
#to_era {
    width: 100px;
    margin-left: 0px;
    margin-right: 5px;
    display: inline;
}
.year_range,
.weight_range,
.dimensions_range {
    margin-left: 15px;
    margin-right: 5px;
    width: 150px;
}
.weight_int,
.dimensions_int {
    width: 30px;
    margin-left: 0px;
    margin-right: 5px;
}
#searchItemTemplate,
#sparqlItemTemplate {
    display: none;
}
.searchItemTemplate {
    padding-top: 5px;
    padding-bottom: 5px;
}
.compare_options {
    margin-bottom: 10px;
    text-align: center;
}
#search1,
#search2 {
    margin-top: 20px;
}
/*
  ***************************************
  VISUALIZATION FORM
  ***************************************
*/
.quant-form {
    margin-bottom: 20px;
}
.quant-form input[type = text],
.quant-form select {
    width: 20em;
}
.quant-form select.era {
    width: 5em;
    margin-left: 10px;
}
.quant-form input.year,
.quant-form select.interval {
    width: 10em;
}
.control-container {
    display: inline;
    width: 20px;
}
.control-row .btn {
    margin: 0 5px;
}
.query-pair {
    display: block;
    margin-bottom: 15px;
}
.prop-container {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
/*
  ***************************************
  IDENTIFY PAGE
  ***************************************
 */
.portrait {
    z-index: 1
}
.image-spacer {
    height: 280px;
    z-index: 100;
    vertical-align: bottom;
    align-items: flex-end;
    display: flex;
}
.image-spacer img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
}
.name-container {
    background-color: gray;
    color: white;
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 5px;
}
.name-container-empty {
    display: block;
    border: 1px solid white;
}
.paginate-images {
    z-index: 1000
}
/*
  ***************************************
  RESULTS PAGES
  ***************************************
 */
.result-doc {
    margin-top: 10px;
    border-bottom: 1px solid #E7E7E7;
}
#map_results {
    margin-left: 20px;
}
.grid-doc {
    height: 240px;
}
.grid-doc img {
    max-height: 120px;
}
.thumbImage,
.iiif-image {
    margin: 5px;
}
.side-thumbnail {
    max-width: 120px;
}
.combined-thumbnail {
    max-width: 240px;
}
.quick_search {
    width: 250px;
    padding: 10px 0;
}
.stacked_term {
    padding: 2px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.remove_segment {
    margin-left: 2px;
}
.remove_segment:hover {
    text-decoration: underline;
}
#imagesavailable {
    margin-left: 10px;
}
.data_options img {
    padding: 2px;
}
.left {
    vertical-align: middle;
    text-align: left;
}
.right {
    text-align: right;
    vertical-align: middle;
}
.sort_div {
    margin-bottom: 20px;
}
#typeNumber {
    width: 250px;
}
/*
  ***************************************
  FACET STYLING: RESULTS AND MAPS
  ***************************************
 */
.category-multiselect-checkboxes {
    overflow-y: scroll;
    position: relative;
}
span.multiselect-native-select, .hierarchical-facet {
    margin-right:10px;
}
.multiselect, .hierarchical-facet {
    width: 250px;
}
button.multiselect, button.hierarchical-facet {
    margin-bottom: 10px;
}
.get_facets,
.hide_facets {
    float: right;
    padding-right: 5px;
}
.category_level,
.findspot_level {
    margin-left: 20px;
    padding: 0;
}
#century_num-list,
.hier-list {
    max-height: 250px;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    z-index: 3000;
}
.expand_century,
.expand_category {
    cursor: pointer;
    margin: 1px;
}
/*
  ***************************************
  MAPS
  ***************************************
 */
#resultMap {
    width: 600px;
    height: 400px;
}
#clear_all {
    font-size: 80%;
    margin-left: 25px;
}
.departments {
    margin: 10px 0px;
}
.departments > input {
    vertical-align: bottom;
}
.legend {
    margin: 25px 0;
}
.legend td {
    border: 0;
}
.legend th {
    background-color: white;
    border: 0;
}
.olLayerGooglePoweredBy {
    display: none;
}
.g_doc {
    height: 325px;
}
/* gallery image container */
.gi_c {
    margin: 5px 0;
    text-align: center;
}
/* gallery image */
.gi {
    padding: 0px 5px;
}
/*
  ***************************************
  PAGINATION
  ***************************************
 */
.paging_div {
    padding: 10px 0;
    vertical-align: baseline;
}
.pagination {
    margin: 0;
    padding: 0;
}
.pagination a,
.pagination button {
    height: 32px;
}
/*
  ***************************************
  Leaflet Map and Timeline
  ***************************************
 */
div#mapcontainer {
    width: 100%;
    height: 400px;
}

.maps-page #mapcontainer {
    height: 500px;
    width: 100%;
}

.leaflet-bottom.leaflet-left {
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

/*
  ****************************************
  FEATURES/LINKED DATA SECTION
  ***************************************
 */
/* Used for date (century/decade) facet */
.date-div,
.hierarchical-div {
    margin-top: -10px;
}
.hierarchical-list {
    display: table;
}
.century-multiselect-checkboxes {
    display: table;
    width: 100%;
}
.decades-list {
    margin: 0 0 0 25px;
}
/* background */
#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute;
    /* hack for internet explorer 6 */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2001;
}
/*
  ***************************************
  VISUALIZATION/ANALYSIS
  ***************************************
 */
#filterHoards,
#searchBox {
    width: 600px;
    text-align: left;
}
#customQueryDiv {
    width: 100%;
    display: table;
}
.filter-div,
.customQuery,
.compareQuery {
    padding: 10px 0;
}
.filter-div span,
.customQuery span,
.compareQuery span {
    padding: 0 5px;
}
.removeFilter,
.removeQuery {
    font-size: 80%;
    margin-left: 10px;
}
/* **SPARQL QUERY*** */
.popupQuery {
    width: 700px;
    padding: 2px;
}
#dateTemplate {
    display: none;
}
.measurementTable {
    display: none;
}
.mr {
    display: none;
}
/*
  ***************************************
  SYMBOL PAGE
  ***************************************
 */
#symbol-container {
    margin: 10px 0;
}
#form-container form {
    display: inline;
}
#symbol-form input {
    margin-right: 5px;
}
.letter-button {
    margin-right: 5px;
}