/*Numishare styling: https://github.com/ewg118/numishare*/
/*
  ***************************************
  GLOBAL
  ***************************************
 */
html{
    background-color: #F8F8F8;
}
.navbar{
    margin-bottom: 0;
}
a > img{
    border: none;
}
ul li{
    list-style-type: none;
}
ol li {
    list-style-type:normal
}
.highlight{
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}
.rtl{
    direction: rtl;
}
dl.dl-rtl dt{
    float: right;
    text-align: left;
}
dl.dl-rtl dd{
    margin-right: 180px;
    margin-left: 0;
}
.alert-box{
    width: 50%;
    margin: 20px auto;
}
#feedback-frame{
    width: 100%;
    border: none;
    height: 600px;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#footer{
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*
  ***************************************
  DISPLAY CONTENT
  ***************************************
 */
.hidden{
    display: none;
}
.thumbnail_container{
    margin-top: 25px;
}
.display_thumb{
    width: 80px;
    padding: 2px;
    cursor: pointer;
}
.metadata_section{
    margin-bottom: 20px;
}
.submenu{
    width: 100%;
    vertical-align: bottom;
    display: table;
    text-align: right;
    margin-top: 3px;
}
.icons{
    margin: 5px 0;
}
.reference_image{
    margin-bottom: 20px;
    text-align: center;
}
.reference_image img{
    max-width: 100%;
}
.external_link{
    margin: 0 5px;
}
.legend-icon{
    width: 40px;
}
.calculate{
    display: none;
    margin-top: 20px;
}
.iiif-window{
    width: 100%;
    height: 100%;
}
.image-container{
    margin-bottom: 20px;
}
.image-container img{
    max-width:100%;
}
.iiif-container{
    width: 100%;
    padding-top: 100%;
    background-color: white;
}
.iiif-zoom-glyph{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 120%
}
.model-window{
    width: 640px;
    height: 480px;
}
.obj-container{
    z-index: 1;
    /*cursor:pointer;*/
    color: #c94f2a;
}
a.fancybox {
    height:100%;
    width:100%;
    display:block;
}
/*Die Study pages*/
.die-image {
    height:325px;
}
.die-image img {
    max-width:100%;
    max-height:300px;
}
.die-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
  ***************************************
  SEARCH/COMPARE/VISUALIZATION FORMS
  ***************************************
 */
.compare_image{
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px dashed #696969;
}
.option_container{
    width: 200px;
    vertical-align: bottom;
}
.option_container select,
.option_container input{
    display: inline;
}
.compare-select{
    width: 400px;
}
.category_list,
.sparql_facets,
select[name = "interval"],
#stacking,
#image,
.certainty-select{
    width: 175px;
    display: inline;
}
.sortForm_categories,
.sortForm_order{
    width: 175px;
    margin-left: 0px;
    margin-right: 10px;
    display: inline;
}
.search_text{
    width: 200px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline;
}
.from_date,
.to_date,
#from_date,
#to_date{
    width: 75px;
    margin-left: 0px;
    margin-right: 5px;
    display: inline;
}
#ah_fromDate,
#ah_toDate{
    width: 100px;
    margin-left: 0px;
    margin-right: 5px;
    display: inline;
}
.from_era,
.to_era,
#from_era,
#to_era{
    width: 100px;
    margin-left: 0px;
    margin-right: 5px;
    display: inline;
}
.year_range,
.weight_range,
.dimensions_range{
    margin-left: 15px;
    margin-right: 5px;
    width: 150px;
}
.weight_int,
.dimensions_int{
    width: 30px;
    margin-left: 0px;
    margin-right: 5px;
}
#searchItemTemplate,
#sparqlItemTemplate{
    display: none;
}
.searchItemTemplate{
    padding-top: 5px;
    padding-bottom: 5px;
}
.compare_options{
    margin-bottom: 10px;
    text-align: center;
}
#search1,
#search2{
    margin-top: 20px;
}
/*
  ***************************************
  VISUALIZATION FORM
  ***************************************
*/
.quant-form{
    margin-bottom: 20px;
}
.quant-form input[type = text],
.quant-form select{
    width: 20em;
}
.quant-form select.era{
    width: 5em;
    margin-left: 10px;
}
.quant-form input.year,
.quant-form select.interval{
    width: 10em;
}
.control-container{
    display: inline;
    width: 20px;
}
.control-row .btn{
    margin: 0 5px;
}
.query-pair{
    display: block;
    margin-bottom: 15px;
}
.prop-container{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
/*
  ***************************************
  IDENTIFY PAGE
  ***************************************
 */
.portrait{
    z-index: 1
}
.image-spacer{
    height: 280px;
    z-index: 100;
    vertical-align: bottom;
    align-items: flex-end;
    display: flex;
}
.image-spacer img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
}
.name-container{
    background-color: gray;
    color: white;
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 5px;
}
.name-container-empty{
    display: block;
    border: 1px solid white;
}
.paginate-images{
    z-index: 1000
}
/*
  ***************************************
  RESULTS PAGES
  ***************************************
 */
.result-doc{
    margin-top: 10px;
    border-bottom: 1px solid #E7E7E7;
}
#map_results{
    margin-left: 20px;
}
.grid-doc{
    height: 240px;
}
.grid-doc img{
    max-height: 120px;
}
.thumbImage,
.iiif-image{
    margin: 5px;
}
.side-thumbnail{
    max-width: 120px;
}
.combined-thumbnail{
    max-width: 240px;
}
.quick_search{
    width: 250px;
    padding: 10px 0;
}
.stacked_term{
    padding: 2px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.remove_segment{
    margin-left: 2px;
}
.remove_segment:hover{
    text-decoration: underline;
}
#imagesavailable{
    margin-left: 10px;
}
.data_options img{
    padding: 2px;
}
.left{
    vertical-align: middle;
    text-align: left;
}
.right{
    text-align: right;
    vertical-align: middle;
}
.sort_div{
    margin-bottom: 20px;
}
#typeNumber{
    width: 250px;
}
/*
  ***************************************
  FACET STYLING: RESULTS AND MAPS
  ***************************************
 */
.category-multiselect-checkboxes{
    overflow-y: scroll;
    position: relative;
}
.multiselect{
    width: 200px;
}
button.multiselect{
    margin-bottom: 10px;
}
.get_facets,
.hide_facets{
    float: right;
    padding-right: 5px;
}
.category_level,
.findspot_level{
    margin-left: 20px;
    padding: 0;
}
#century_num-list,
.hier-list{
    max-height: 250px;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    z-index: 3000;
}
.expand_century,
.expand_category{
    cursor: pointer;
    margin: 1px;
}
/*
  ***************************************
  MAPS
  ***************************************
 */
#resultMap{
    width: 600px;
    height: 400px;
}
#clear_all{
    font-size: 80%;
    margin-left: 25px;
}
.departments{
    margin: 10px 0px;
}
.departments > input{
    vertical-align: bottom;
}
.legend{
    margin: 25px 0;
}
.legend td{
    border: 0;
}
.legend th{
    background-color: white;
    border: 0;
}
.olLayerGooglePoweredBy{
    display: none;
}
.g_doc{
    height: 325px;
}
/* gallery image container */
.gi_c{
    margin: 5px 0;
    text-align: center;
}
/* gallery image */
.gi{
    padding: 0px 5px;
}
/*
  ***************************************
  PAGINATION
  ***************************************
 */
.paging_div{
    padding: 10px 0;
    vertical-align: baseline;
}
.pagination{
    margin: 0;
    padding: 0;
}
.pagination a,
.pagination button{
    height: 32px;
}
/*
  ***************************************
  Leaflet Map and Timeline
  ***************************************
 */
div#mapcontainer{
    width: 100%;
    height: 400px;
}

.maps-page #mapcontainer{
    height: 500px;
    width: 100%;
}

.leaflet-bottom.leaflet-left{
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

/*
  ****************************************
  FEATURES/LINKED DATA SECTION
  ***************************************
 */
/* Used for date (century/decade) facet */
.date-div,
.hierarchical-div{
    margin-top: -10px;
}
.hierarchical-list{
    display: table;
}
.century-multiselect-checkboxes{
    display: table;
    width: 100%;
}
.decades-list{
    margin: 0 0 0 25px;
}
/* background */
#backgroundPopup{
    display: none;
    position: fixed;
    _position: absolute;
    /* hack for internet explorer 6 */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2001;
}
/*
  ***************************************
  VISUALIZATION/ANALYSIS
  ***************************************
 */
#filterHoards,
#searchBox{
    width: 600px;
    text-align: left;
}
#customQueryDiv{
    width: 100%;
    display: table;
}
.filter-div,
.customQuery,
.compareQuery{
    padding: 10px 0;
}
.filter-div span,
.customQuery span,
.compareQuery span{
    padding: 0 5px;
}
.removeFilter,
.removeQuery{
    font-size: 80%;
    margin-left: 10px;
}
/* **SPARQL QUERY*** */
.popupQuery{
    width: 700px;
    padding: 2px;
}
#dateTemplate{
    display: none;
}
.measurementTable{
    display: none;
}
.mr{
    display: none;
}
/*
  ***************************************
  SYMBOL PAGE
  ***************************************
 */
#symbol-container{
    margin: 10px 0;
}
#form-container form{
    display: inline;
}
#symbol-form input{
    margin-right: 5px;
}
.letter-button{
    margin-right: 5px;
}