/*
  Numishare styling: https://github.com/ewg118/numishare
  Copyright 2014 Ethan Gruber
 */
/*
  ***************************************
  GLOBAL
  ***************************************
 */
html{
	background-color:black;
}
body {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 20px;	
}
.navbar{
	margin-bottom:0;
}
#banner {
	opacity: 0.6;
	position:absolute;
	top:100px;
	right:100px;
	font-size: 48px;
	font-family: "Courier New", Courier, monospace;
	padding:20px; 
}
#index {
	margin-top:20px;
}
a > img{
	border:none;
}
ul li,
ol li{
	list-style-type:none;
}
.highlight{
	background-color:#F8F8F8;
	border:1px solid #E7E7E7;
	border-radius:4px;
	margin-bottom:14px;
	padding:9px 14px;
}
/* custom navbar */
.navbar-default {
	background-color: #000000;
	border-color: #b2b2b2;
	font-weight:bold;
}
.navbar-default .navbar-brand {
	color: #bfbfbf;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #e2e2e2;
}
.navbar-default .navbar-text {
	color: #bfbfbf;
}
.navbar-default .navbar-nav > li > a {
	color: #bfbfbf;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e2e2e2;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e2e2e2;
	background-color: #b2b2b2;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #e2e2e2;
	background-color: #b2b2b2;
}
.navbar-default .navbar-toggle {
	border-color: #b2b2b2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #b2b2b2;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #bfbfbf;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #bfbfbf;
}
.navbar-default .navbar-link {
	color: #bfbfbf;
}
.navbar-default .navbar-link:hover {
	color: #e2e2e2;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #bfbfbf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #e2e2e2;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #e2e2e2;
		background-color: #b2b2b2;
	}
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#footer{
	color:white;
	background-color:black;
	border-top:1px solid #E7E7E7;
	padding:10px 0;
	text-align:center;
}
/*
  ***************************************
  DISPLAY CONTENT
  ***************************************
 */
.hidden{
	display:none;
}
.thumbnail_container{
	margin-top:25px;
}
.display_thumb{
	width:80px;
	padding:2px;
	cursor:pointer;
}
.metadata_section{
	margin-bottom:20px;
}
.adminhist_div,
.phystech,
.bibref,
.metadata_section ul{
	margin-left:20px;
	margin-bottom:10px;
	padding:0;
}
.submenu{
	width:100%;
	vertical-align:bottom;
	display:table;
	text-align:right;
	margin-top:3px;
}
.icons{
	margin:5px 0;
}
.reference_image{
	margin-bottom:20px;
	text-align:center;
}
.reference_image img{
	max-width:100%;
}
.abstract{
	margin-bottom:20px;
}
.external_link{
	margin-left:10px;
}
.legend-icon{
	width:40px;
}
.calculate{
	display:none;
	margin-top:20px;
}
/*
  ***************************************
  SEARCH/COMPARE/VISUALIZATION FORMS
  ***************************************
 */
.compare_image{
	margin-bottom:20px;
	padding:10px;
	border-bottom:1px dashed #696969;
}
.option_container{
	width:200px;
	vertical-align:bottom;
}
.option_container select,
.option_container input{
	display:inline;
}
.compare-select{
	width:400px;
}
.category_list,
.sparql_facets,
select[name = "interval"],
#stacking,
#image,
.certainty-select{
	width:175px;
	display:inline;
}
.sortForm_categories,
.sortForm_order{
	width:175px;
	margin-left:0px;
	margin-right:10px;
	display:inline;
}
.search_text{
	width:200px;
	margin-left:15px;
	margin-right:5px;
	display:inline;
}
.from_date,
.to_date,
#from_date,
#to_date{
	width:75px;
	margin-left:0px;
	margin-right:5px;
	display:inline;
}
.from_era,
.to_era,
#from_era,
#to_era{
	width:100px;
	margin-left:0px;
	margin-right:5px;
	display:inline;
}
.year_range,
.weight_range,
.dimensions_range{
	margin-left:15px;
	margin-right:5px;
	width:150px;
}
.weight_int,
.dimensions_int{
	width:30px;
	margin-left:0px;
	margin-right:5px;
}
#searchItemTemplate,
#sparqlItemTemplate{
	display:none;
}
.searchItemTemplate{
	padding-top:5px;
	padding-bottom:5px;
}
.compare_options{
	margin-bottom:10px;
	text-align:center;
}
#search1,
#search2{
	margin-top:20px;
}
/*
  ***************************************
  RESULTS PAGES
  ***************************************
 */
.result-doc{
	margin-top:10px;
	border-bottom:1px solid #E7E7E7;
}
#map_results{
	margin-left:20px;
}
.thumbImage,
.flickrthumb{
	margin:5px;
}
.thumbImage > img{
	max-width:120px;
}
.quick_search {
	width:250px;
	padding:10px 0;
}
.stacked_term{
	padding:2px;
	margin-bottom:5px;
	border:1px solid #E7E7E7;
	border-radius:5px;
	vertical-align:middle;
}
.remove_segment{
	margin-left:2px;
}
.remove_segment:hover{
	text-decoration:underline;
}
#imagesavailable{
	margin-left:10px;
}
.data_options img{
	padding:2px;
}
.left{
	vertical-align:middle;
}
.right{
	text-align:right;
	vertical-align:middle;
}
.sort_div{
	margin-bottom:20px;
}

/*
  ***************************************
  FACET STYLING: RESULTS AND MAPS
  ***************************************
 */
.category-multiselect-checkboxes{
	overflow-y:scroll;
	position:relative;
}
.multiselect{
	width:200px;
}
button.multiselect{
	margin-bottom:10px;
}
.get_facets,
.hide_facets{
	float:right;
	padding-right:5px;
}
.category_level{
	margin-left:15px;
}
.expand_category{
	margin:1px;
}
.category_level{
	margin-left:15px;
}
.expand_category{
	margin:1px;
}
#century_num-list{
	max-height:250px;
	width:250px;
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	z-index:3000;
}
.expand_century {
	cursor:pointer;
}
/*
  ***************************************
  MAPS
  ***************************************
 */
#resultMap{
	width:600px;
	height:400px;
}
#clear_all{
	font-size:80%;
	margin-left:25px;
}
.departments{
	margin:10px 0px;
}
.departments > input{
	vertical-align:bottom;
}
.legend{
	margin:25px 0;
}
.legend td{
	border:0;
}
.legend th{
	background-color:white;
	border:0;
}
.olLayerGooglePoweredBy{
	display:none;
}
.g_doc{
	height:325px;
}
/* gallery image container */
.gi_c{
	margin:5px 0;
	text-align:center;
}
/* gallery image */
.gi{
	padding:0px 5px;
	max-width:120px;
}
/*
  ***************************************
  PAGINATION
  ***************************************
 */
.paging_div{
	padding:10px 0;
	vertical-align:baseline;
}
.page-nos{
	text-align:right;
}
.pagination{
	margin:0;
	padding:0;
}
.pagination a,
.pagination button{
	height:32px;
}
/*
  ***************************************
  Timemap CSS
  ***************************************
 */
div#timelinecontainer{
	width:100%;
	height:200px;
}
div#mapcontainer{
	width:100%;
	height:400px;
}
.maps-page #mapcontainer{
	height:500px;
	width:100%;
}
div.olFramedCloudPopupContent{
	width:300px;
}
div#help{
	font-size:12px;
	width:45em;
	padding:1em;
}
div#timeline{
	width:100%;
	height:100%;
	font-size:12px;
	background:#CCCCCC;
}
div#map{
	width:100%;
	height:100%;
	background:#EEEEEE;
}
div.infotitle{
	font-size:14px;
	font-weight:bold;
}
div.infodescription{
	font-size:14px;
	font-style:italic;
}
div.custominfostyle{
	font-family:Georgia, Garamond, serif;
	font-size:1.5em;
	font-style:italic;
	width:20em;
}
/*
  ****************************************
  FEATURES/LINKED DATA SECTION
  ***************************************
 */
/* Used for date (century/decade) facet */
.date-div,
.hierarchical-div{
	margin-top:-10px;
}
.hierarchical-list{
	display:table;
}
.century-multiselect-checkboxes{
	display:table;
	width:100%;
}
.decades-list{
	margin:0 0 0 25px;
}
/* background */
#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute;
	/* hack for internet explorer 6 */
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:2001;
}
/*
  ***************************************
  VISUALIZATION/ANALYSIS
  ***************************************
 */
#filterHoards,
#searchBox{
	width:600px;
	text-align:left;
}
#customQueryDiv{
	width:100%;
	display:table;
}
.filter-div,
.customQuery,
.compareQuery{
	padding:10px 0;
}
.filter-div span,
.customQuery span,
.compareQuery span{
	padding:0 5px;
}
.removeFilter,
.removeQuery{
	font-size:80%;
	margin-left:10px;
}
/* **SPARQL QUERY*** */
.popupQuery{
	width:700px;
	padding:2px;
}
#dateTemplate{
	display:none;
}
.measurementTable{
	display:none;
}
.mr{
	display:none;
}
.center-block{
	width:50%;
}